<section class="page">
  <header>
    <h1 class="page-title">JSON Difference</h1>
  </header>

  <main>
    <section
      class="controls"
      [formGroup]="differenceForm"
    >
      <div class="actions flex">

        @if (isEdit()) {
          <button
            tabindex="3"
            (click)="compare()"
          >
            Compare Difference
          </button>
        } @else {
          <button
            tabindex="3"
            (click)="setIsEdit(true)"
          >
            Back to Edit
          </button>
        }
      </div>


      <div class="difference">
        @if (isEdit()) {
          <div class="left">
          <textarea
            id="textarea-left"
            class=""
            placeholder="Enter JSON to compare, enter an URL to JSON"
            tabindex="1"
            spellcheck="false"
            formControlName="textareaLeft"
          ></textarea>

            @if (errors.textareaLeft) {
              <div class="parse-error">
                <pre>{{ errors.textareaLeft }}</pre>
              </div>
            }
          </div>

          <div class="right">
          <textarea
            id="textarea-right"
            class=""
            placeholder="Enter JSON to compare, enter an URL to JSON"
            tabindex="2"
            spellcheck="false"
            formControlName="textareaRight"
          ></textarea>

            @if (errors.textareaRight) {
              <div class="parse-error">
                <pre>{{ errors.textareaRight }}</pre>
              </div>
            }
          </div>
        } @else {
          <div class="compare-result-left">
            <pre [innerHTML]="obj1Lines"></pre>
          </div>

          <div class="compare-result-right">
            <pre [innerHTML]="obj2Lines"></pre>
          </div>
        }
      </div>
    </section>

  </main>
</section>
